<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBContext" connectionString="data source=LAPTOP-CULIN\MSSQLSERVER01;initial catalog=LaptopManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>