@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link rel="stylesheet" href="~/Assets/css/homepage.css" />
<div class="u__welcome-text text-center" style="margin-top: 5rem">WELCOME TO LOAN LAPTOP MANAGEMENT WEBSITE</div>
<div class="u__banner">
    <img src="https://i.pinimg.com/originals/bd/98/35/bd983558d61361e66f41c5b9c622ea99.jpg" alt="">
</div>